.Header {
  background-color:#34a5daff;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(5px + 2vmin);
  color: black;
  padding-left: 30px;
}

body{
  background-color: #222222ff;
}

.Middle{
  background-color: #ebebeb;
  width: 84%;
  display: flex;
  justify-content: flex-start;
  margin-left: 8%;
  margin-top: 80px;
  position: relative;
}

.Counter {
  position: absolute;
  right: 0; 
  top: 0; 
}

.Nav{
  background-color: #222222ff;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  
}
  
  .Previous{
    border:none;
    background-color: #222222ff;
    color: white;
    font-size: 20px;

  }
  
  .Edit{
    border-radius: 15px;
    background-color: #34a5daff;
    color: white;
    border: none;
    font-size: 20px;

  }
  
  .Delete{
    border-radius: 15px;
    background-color: #34a5daff;
    color: white;
    border: none;
    font-size: 20px;

  }
  
  .New{
    border-radius: 15px;
    background-color: #34a5daff;
    color: white;
    border: none;
    font-size: 20px;
    
  }
  
  .Next{
    border:none;
    background-color: #222222ff;
    color: white;
    font-size: 20px;

  }
  
  